<section class="categories page-width-l">
  <a class="collection-link" routerLink="beds" [routerLinkActive]="'active'"
    >BEDS</a
  >
  <a class="collection-link" routerLink="pillows" [routerLinkActive]="'active'"
    >PILLOWS</a
  >
  <a class="collection-link" routerLink="sheets" [routerLinkActive]="'active'"
    >SHEETS</a
  >
  <a class="collection-link" routerLink="rugs" [routerLinkActive]="'active'"
    >RUGS</a
  >
  <a class="collection-link" routerLink="kids" [routerLinkActive]="'active'"
    >KIDS</a
  >
</section>
