.cart-container {
  padding: 50px 100px;
}

.cart-main {
  display: flex;
  letter-spacing: 2px;
  justify-content: space-between;
  margin-bottom: 50px;
}

.cart-left {
  width: 55%;
}

.cart-right {
  width: 400px;
  border: 1px solid black;
  height: fit-content;
}

.title-container {
  padding: 1rem;
  border: 1px solid black;
}

.btn-shop {
  margin-top: 2rem;
}

.price-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.price-name,
.price {
  font-size: 20px;
  color: #505050;
  font-weight: 600;
}

.bottom-border {
  border-bottom: 0.5px solid #505050;
  border-spacing: 1px;
}

.table-bottom {
  text-align: center;
  padding-top: 1rem;
}

.btn-buy {
  padding: 0.5rem 4rem !important;
  margin-bottom: 1rem;
}

/* .discount {
  font-weight: bold;
  color: #505050;
  font-size: 20px;
} */

.cart-empty {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.empty-cart-icon {
  width: 100px;
  height: auto;
  padding: 3rem 0;
}

.discount-input {
  border: none;
  padding: 0;
  text-align: center;
  outline: none;
  cursor: pointer;
  min-width: 285px;
  font-weight: bold;
  color: #505050;
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

.discount-input::placeholder {
  font-weight: bold;
  color: #505050;
  font-size: 20px;
  letter-spacing: 2px;
}

.discount-input:focus {
  border-bottom: 1px solid black;
}

.hide-search-button {
  display: none;
}

.search-button {
  background-color: transparent;
  border: none;
  font-size: 2rem;
}

.search-button:hover {
  color: red;
}

@media only screen and (max-width: 1000px) {
  .cart-main {
    flex-direction: column;
  }

  .cart-left,
  .cart-right {
    width: 100%;
  }

  .btn-shop {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 700px) {
  .cart-container {
    padding: 10px 20px;
  }
}
