<div class="cart-container" *ngIf="currentCartItems.length">
  <section class="cart-main">
    <article class="cart-left">
      <div class="title-container">
        <h3>My cart</h3>
      </div>
      <app-cart-product
        *ngFor="let item of currentCartItems"
        [cartItem]="item"
      ></app-cart-product>
      <button class="btn btn-dark btn-shop" (click)="goBack()">
        BACK TO SHOP
      </button>
    </article>
    <article class="cart-right">
      <div class="price-container">
        <p class="price-name">Price:</p>
        <p class="price">${{ productPriceTotal$ | async }}</p>
      </div>
      <div class="price-container">
        <p class="price-name">Delivery:</p>
        <p class="price">${{ deliveryPrice }}</p>
      </div>
      <div class="price-container bottom-border">
        <p class="price-name">Total:</p>
        <p class="price">
          ${{ (productPriceTotal$ | async)! + deliveryPrice }}
        </p>
      </div>
      <div class="table-bottom">
        <p class="discount">Have a discount?</p>
        <p class="discount">Have a e-coupon code?</p>
        <button class="btn btn-dark btn-buy">BUY</button>
      </div>
    </article>
  </section>
  <app-related-products></app-related-products>
</div>
<div *ngIf="!currentCartItems.length" class="cart-empty">
  <h2>Your cart is empty...</h2>
  <img
    src="/assets/images/icons/empty-cart.png"
    alt="Empty cart"
    class="empty-cart-icon"
  />
  <button class="btn btn-dark" routerLink="/collections">BACK TO SHOP</button>
</div>
