<div class="cart-container page-width-l" *ngIf="currentCartItems.length">
  <section class="cart-main">
    <article class="cart-left">
      <div class="title-container">
        <h3>My cart</h3>
      </div>
      <app-cart-product
        *ngFor="let item of currentCartItems"
        [cartItem]="item"
      ></app-cart-product>
      <button class="btn btn-dark btn-shop" routerLink="/collections">
        BACK TO SHOP
      </button>
    </article>
    <article class="cart-right">
      <div class="price-container">
        <p class="price-name">Price:</p>
        <p class="price">${{ productPriceTotal$ | async }}</p>
      </div>
      <div class="price-container">
        <p class="price-name">Delivery:</p>
        <p class="price">${{ deliveryPrice }}</p>
      </div>
      <div class="price-container bottom-border">
        <p class="price-name">Total:</p>
        <p class="price">
          ${{ (productPriceTotal$ | async)! + deliveryPrice }}
        </p>
      </div>
      <div class="table-bottom">
        <div class="dicount-group">
          <input
            class="discount-input"
            placeholder="Have a discount?"
            type="text"
            (focus)="onInputFocus(searchButton1)"
            (blur)="onInputBlur(searchButton1)"
          />
          <button class="hide-search-button search-button" #searchButton1>
            &rarr;
          </button>
        </div>

        <!-- <p class="discount">Have a discount?</p> -->
        <!-- <p class="discount">Have a e-coupon code?</p> -->
        <div class="discount-group">
          <input
            class="discount-input"
            placeholder="Have a e-coupon code?"
            type="text"
            (focus)="onInputFocus(searchButton2)"
            (blur)="onInputBlur(searchButton2)"
          />
          <button class="hide-search-button search-button" #searchButton2>
            &rarr;
          </button>
        </div>

        <button class="btn btn-dark btn-buy">BUY</button>
      </div>
    </article>
  </section>
  <app-related-products></app-related-products>
</div>
<div *ngIf="!currentCartItems.length" class="cart-empty">
  <h2>Your cart is empty...</h2>
  <img
    src="/assets/images/icons/empty-cart.png"
    alt="Empty cart"
    class="empty-cart-icon"
  />
  <button class="btn btn-dark" routerLink="/collections">BACK TO SHOP</button>
</div>
