.cart-container {
  padding: 50px 100px;
}

.cart-main {
  display: flex;
  letter-spacing: 2px;
  justify-content: space-between;
  margin-bottom: 50px;
}

.cart-left {
  width: 55%;
}

.cart-right {
  width: 400px;
  border: 1px solid black;
  height: fit-content;
}

.product-overview {
  position: relative;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}

.product-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.product-description {
  width: 60%;
}

.title-container {
  padding: 1rem;
  border: 1px solid black;
}

.product-img {
  height: 220px;
  width: auto;
  padding: 1rem;
}

.product-img:hover {
  cursor: pointer;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.description {
  font-size: 14px;
  color: #505050;
}

.product-price {
  font-weight: bold;
}

.delete-icon {
  padding-right: 1rem;
}

.btn-shop {
  margin-top: 2rem;
}

.price-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.price-name,
.price {
  font-size: 20px;
  color: #505050;
  font-weight: 600;
}

.bottom-border {
  border-bottom: 0.5px solid #505050;
  border-spacing: 1px;
}

.table-bottom {
  text-align: center;
  padding-top: 1rem;
}

.btn-buy {
  padding: 0.5rem 4rem !important;
  margin-bottom: 1rem;
}

.discount {
  font-weight: bold;
  color: #505050;
  font-size: 20px;
}

.delete-icon:hover > img {
  cursor: pointer;
  filter: invert(16%) sepia(84%) saturate(4401%) hue-rotate(358deg)
    brightness(95%) contrast(126%);
}

.cart-empty {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.empty-cart-icon {
  width: 100px;
  height: auto;
  padding: 3rem 0;
}
