h3 {
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.related-products {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
  flex-wrap: wrap;
  text-align: center;
}
