<section class="promotion">
  <div class="title">
    <p>CHECK OUT</p>
    <h4 class="red" routerLink="/summer-sale">SUMMER SALE</h4>
  </div>
  <article class="products">
    <div class="product" *ngFor="let item of promoItemList | slice: 0:4">
      <div class="img-container">
        <img
          [src]="item.imgPath"
          [alt]="item.name"
          [routerLink]="['/', 'collections', item.category, item.name]"
          class="product-img"
        />
        <span class="img-caption">VIEW PRODUCT</span>
      </div>

      <p class="product-name">{{ item.name }}</p>
      <div class="price-container">
        <p class="old-price">${{ item.price }}</p>
        <p class="product-sales-price">${{ item.salePrice }}</p>
      </div>
      <app-sales-percentage [saleItem]="item"></app-sales-percentage>
    </div>
  </article>
</section>
