.promotion {
  display: flex;
  justify-content: center;
  padding-top: 120px;
  padding-bottom: 120px;
  flex-wrap: wrap;
}

.products {
  display: flex;
  flex-direction: row;
  gap: 70px;
}

.product {
  text-align: center;
  position: relative;
}

.product-name {
  margin-top: 1.5rem;
  font-size: 14px;
}

.product-price {
  font-size: 14px;
  font-weight: bold;
  color: #c60134;
}

.old-price {
  font-size: 14px;
  margin-right: 6px;
  text-decoration: line-through;
}

.price-container {
  display: flex;
  justify-content: center;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  letter-spacing: 1px;
  margin-right: 5rem;
}

.red {
  color: #c60134;
}

.product-img {
  height: 216px;
}

.img-caption {
  font-size: 14px;
}

.discount {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: red;
  border-radius: 12px;
  color: white;
  font-weight: bold;
}

.discount > p {
  margin: 0;
  padding: 0.5rem;
}
