.promotion {
  display: flex;
  justify-content: center;
  padding-top: 120px;
  padding-bottom: 120px;
  flex-wrap: wrap;
}

.products {
  display: flex;
  flex-direction: row;
  gap: 70px;
}

.product {
  text-align: center;
  position: relative;
}

.product-name {
  margin-top: 1.5rem;
  font-size: 14px;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  letter-spacing: 1px;
  margin-right: 5rem;
}

.red {
  color: #c60134;
  cursor: pointer;
}

.product-img {
  height: 216px;
}

.img-caption {
  font-size: 14px;
}
