<section class="promotion">
  <div class="title">
    <p>CHECK OUT</p>
    <h4 class="red">SUMMER SALE</h4>
  </div>
  <article class="products">
    <div class="product">
      <img src="/assets/images/promotion/1-lamp.png" alt="" />
      <p class="product-name">SPOT lamp</p>
      <p class="product-price">$32</p>
    </div>
    <div class="product">
      <img src="/assets/images/promotion/2-table.png" alt="" />
      <p class="product-name">SPOT lamp</p>
      <p class="product-price">$32</p>
    </div>
    <div class="product">
      <img src="/assets/images/promotion/3-chair.png" alt="" />
      <p class="product-name">SPOT lamp</p>
      <p class="product-price">$32</p>
    </div>
    <div class="product">
      <img src="/assets/images/promotion/4-chair.png" alt="" />
      <p class="product-name">SPOT lamp</p>
      <p class="product-price">$32</p>
    </div>
  </article>
</section>
