<section class="category" *ngFor="let collection of colletionList | keyvalue">
  <h2 class="title">{{ collection.key }}</h2>
  <div class="category-products">
    <div class="product" *ngFor="let i of [0, 1, 2, 3]">
      <div class="img-container">
        <img
          [src]="collection.value.items[i].imgPath"
          [alt]="collection.value.items[i].name"
          class="product-img"
        />
        <span class="img-caption">VIEW PRODUCT</span>
      </div>

      <p class="product-name">{{ collection.value.items[i].name }}</p>
      <p class="product-price">${{ collection.value.items[i].price }}</p>
    </div>
  </div>
  <button class="btn btn-dark">SEE ALL</button>
</section>
