.category {
  padding-top: 120px;
  text-align: center;
}

.category-products {
  display: flex;
  justify-content: space-evenly;
}

.title {
  margin-bottom: 50px;
  font-weight: bold;
}

.btn {
  padding: 8px 32px;
  border-radius: 0;
  letter-spacing: 1px;
}

.product-price {
  font-weight: bold;
}
