.email {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(/assets/images/email-section.png);
  background-size: cover;
  background-position: center;
  padding-top: 110px;
  padding-bottom: 110px;
}

.title {
  font-weight: bold;
  letter-spacing: 1px;
}

.description {
  color: white;
  width: 50%;
  margin-bottom: 40px;
  margin-top: 40px;
}

.email-input-group {
  width: 400px;
}

.email-input {
  border-radius: 0;
}

.after-submit {
  font-weight: bold;
  font-size: 1.5rem;
}

@media only screen and (max-width: 500px) {
  .email {
    background-position: left;
  }

  .email-input {
    width: 100%;
  }

  .email-input-group {
    flex-direction: column;
    width: 100%;
    min-width: 300px;
  }
}
