<footer>
  <section class="footer">
    <article class="footer-collumn">
      <div class="footer-collumn_content">
        <h4>Elit sed vulputate</h4>
        <p>
          Quam viverra orci sagittis eu volutpat odio facilisis mauris sit.
          Consectetur libero id mauris faucibus nisl tincidunt eget nullam non
          sagitti ei.
        </p>
        <div>
          <p>
            <img src="/assets/images/footer/letter.svg" alt="" />
            Viverra orci sagittis eu volutpat
          </p>
          <p>
            <img src="/assets/images/footer/phone.svg" alt="" />
            Viverra orci sagittis eu volutpat
          </p>
          <p>
            <img src="/assets/images/footer/pin.svg" alt="" />
            Viverra orci sagittis eu volutpat
          </p>
        </div>
      </div>
    </article>
    <article class="footer-collumn">
      <div class="footer-collumn_content">
        <h4>Quam viverra orci</h4>
        <div class="directions">
          <p>
            <img src="/assets/images/footer/pin.svg" alt="" />
            Kaunas, Palangos g. 13A
          </p>
          <p>
            <img src="/assets/images/footer/pin.svg" alt="" />
            Vilnius, Lentvario al. 16
          </p>
          <p>
            <img src="/assets/images/footer/pin.svg" alt="" />
            Klaipeda, Gruodzio g. 72
          </p>
          <p>
            <img src="/assets/images/footer/pin.svg" alt="" />
            Palanga, Liepos g. 21A
          </p>
        </div>
      </div>
    </article>
    <article class="footer-collumn">
      <div class="footer-collumn_content">
        <h4>About</h4>
        <a href="">Our story</a>
        <a href="">Furniture history</a>
        <a href="">Contact us</a>
        <a href="">Social media</a>
        <a href="">Blog</a>
      </div>
    </article>
    <article class="footer-collumn">
      <div class="footer-collumn_content">
        <h4>Account</h4>
        <a href="">My account</a>
        <a href="">Order tracking</a>
        <a href="">Package details</a>
        <a href="">Recently watched</a>
        <a href="">Delivery</a>
      </div>
    </article>
  </section>

  <p class="copyright">© Copyright 2022 Gintar and Doddle team</p>
</footer>
