<section class="hero page-width-l">
  <article class="header">
    <h1>HOME INTERIOR</h1>
  </article>
  <article class="description">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam
    </p>
  </article>
  <article class="button-group">
    <button class="btn btn-dark" routerLink="/collections">SHOP</button>
    <button class="btn btn-light" routerLink="/about-us">FIND OUT MORE</button>
  </article>
</section>
