<div class="cart-popup" [@cartPopup]="state">
  <div class="emtpy-cart" *ngIf="itemsInCart.length === 0">
    Your cart is emtpy...
  </div>
  <div class="cart-popup-inside" *ngIf="itemsInCart.length > 0">
    <div class="cart-upper" *ngFor="let cartItem of itemsInCart">
      <div class="trashcan">
        <img
          src="/assets/images/icons/trashcan.svg"
          alt="Delete item"
          class="trashcan-img"
          (click)="onItemDelete(cartItem.item.id)"
        />
      </div>
      <img
        [src]="cartItem.item.images[0]"
        [alt]="cartItem.item.name"
        class="product-img"
        [routerLink]="[
          '/',
          'collections',
          cartItem.item.category,
          cartItem.item.name
        ]"
      />
      <div class="up-right">
        <p class="quantity">x {{ cartItem.quantity }}</p>
        <p class="title">{{ cartItem.item.name }}</p>
        <div class="price-container-2">
          <p class="price" [ngClass]="{ 'old-price': cartItem.item.salePrice }">
            ${{ cartItem.item.price }}
          </p>
          <p class="sale-price" *ngIf="cartItem.item.salePrice">
            ${{ cartItem.item.salePrice }}
          </p>
        </div>
      </div>
    </div>
    <div class="cart-down">
      <div class="down-block">
        <p class="down-name">Price</p>
        <p class="down-price">${{ totalItemsPrice$ | async }}</p>
      </div>
      <div class="down-block">
        <p class="down-name">Delivery</p>
        <p class="down-price">$30</p>
      </div>
      <div class="down-block">
        <p class="down-name">Total</p>
        <p class="down-price">${{ (totalItemsPrice$ | async)! + 30 }}</p>
      </div>
    </div>
    <div class="btn-container">
      <button class="btn btn-dark buy-btn" routerLink="/collections/cart">
        BUY
      </button>
    </div>
  </div>
</div>
