.header {
  height: 400px;
  text-align: center;
  position: relative;
}

.img-test {
  height: 100%;
  width: 100%;
  opacity: 0.6;
  object-fit: cover;
  object-position: bottom;
}

.title {
  font-weight: bold;
  color: black;
  font-size: 64px;
  letter-spacing: 0.06em;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

@media only screen and (max-width: 600px) {
  .title {
    text-align: center;
    font-size: 48px;
  }
}
