<app-promo-section></app-promo-section>
<section
  class="category page-width-sm"
  *ngFor="let collection of colletionList | keyvalue"
>
  <h2 class="title">{{ collection.key | uppercase }}</h2>
  <div class="category-products">
    <app-product-display
      *ngFor="let item of collection.value.items | slice: 0:4"
      [currentItem]="item"
      [routLink]="collection.key + '/' + item.name"
    ></app-product-display>
  </div>
  <button class="btn btn-dark" [routerLink]="collection.key">SEE ALL</button>
</section>
