.category {
  padding-top: 120px;
  text-align: center;
}

.category-products {
  display: flex;
  justify-content: space-evenly;
}

.title {
  margin-bottom: 50px;
  font-weight: bold;
}

@media only screen and (max-width: 1200px) {
  .category-products {
    flex-wrap: wrap;
  }
}
