.main {
  padding-left: 100px;
  padding-right: 100px;
}

.main-section {
  display: flex;
  margin-bottom: 100px;
}

.left-section {
  width: 40%;
  position: relative;
}

.img-group {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 10px;
  gap: 10px;
  overflow-x: auto;
  align-items: center;
}

.img-group_img {
  width: 23%;
  height: 100%;
}

.img-group_img:hover {
  opacity: 0.7;
  cursor: pointer;
}

.selected-img {
  opacity: 0.7;
}

.main-img-div {
  height: 100%;
  display: flex;
  align-items: center;
}

.right-section {
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-top: 1rem;
}

.back-section {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 0.5px solid black;
  padding-bottom: 15px;
}

.back-section > p {
  margin-bottom: 0;
  margin-left: 25px;
}

.description {
  margin-top: 100px;
  letter-spacing: 0.5px;
}

.product-name {
  font-weight: bold;
}

.product-features {
  margin-top: 50px;
  font-weight: bold;
  margin-bottom: 30px;
}

.features-list-item {
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-weight: normal;
}

.button-section {
  margin-top: 50px;
}

.price {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 5rem;
}

.arrow-back {
  cursor: pointer;
}

.arrow-back:hover {
  height: 20px;
}

.price-container {
  justify-content: start;
}

.sale-price {
  font-size: 1.5rem;
  font-weight: bold;
  color: red;
}

.old-price {
  text-decoration: line-through;
  font-weight: normal;
}

.qty-input {
  padding: 0.5rem;
  width: 60px;
  border: none;
  border-bottom: 1px solid black;
}

.qty-name {
  font-size: 12px;
  font-weight: 600;
  color: #505050;
}

.quantity-selection {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 800px) {
  .main-section {
    flex-direction: column-reverse;
    position: relative;
  }

  .left-section,
  .right-section {
    width: 100%;
  }

  .right-section {
    padding: 0;
    margin-bottom: 3rem;
  }
}

@media only screen and (max-width: 700px) {
  .main {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
