<app-add-to-cart-modal
  *ngIf="showModal$ | async"
  [currentItem]="currentItem"
  [quantity]="+quantityValue.value"
></app-add-to-cart-modal>
<div class="main">
  <section class="main-section">
    <article class="left-section">
      <app-sales-percentage
        *ngIf="currentItem.salePrice"
        [saleItem]="currentItem"
      ></app-sales-percentage>
      <img
        class="main-img"
        [src]="currentItem.imgPath"
        [alt]="currentItem.name"
      />
      <div class="img-group">
        <img
          class="img-group_img"
          [src]="currentItem.imgPath"
          [alt]="currentItem.name"
        />
        <img
          class="img-group_img"
          [src]="currentItem.imgPath"
          [alt]="currentItem.name"
        />
        <img
          class="img-group_img"
          [src]="currentItem.imgPath"
          [alt]="currentItem.name"
        />
        <img
          class="img-group_img"
          [src]="currentItem.imgPath"
          [alt]="currentItem.name"
        />
      </div>
    </article>
    <article class="right-section">
      <div class="back-section">
        <img
          src="../../../../../assets//images/arrow.svg"
          alt="go back"
          height="15px"
          class="arrow-back"
          (click)="goBack()"
        />
        <p>Back to previous page</p>
      </div>
      <div class="description">
        <h1 class="product-title">{{ currentItem.name }}</h1>
        <p>
          At erat pellentesque adipiscing commodo. Ut porttitor leo a diam
          sollicitudin tempor. Ullamcorper malesuada proin libero nunc consequat
          interdum varius sit. Nunc sed augue lacus viverra vitae congue.
        </p>
        <h3 class="product-features">Special features:</h3>
        <ul class="features-list">
          <li class="features-list-item">Et sollicitudin ac orci</li>
          <li class="features-list-item">Et sollicitudin ac orci</li>
          <li class="features-list-item">Et sollicitudin ac orci</li>
        </ul>
      </div>
      <div class="button-section">
        <div class="price-container">
          <p class="price" [ngClass]="{ 'old-price': currentItem.salePrice }">
            ${{ currentItem.price }}
          </p>
          <p class="sale-price" *ngIf="currentItem.salePrice">
            ${{ currentItem.salePrice }}
          </p>
        </div>
        <div class="quantity-selection">
          <label for="selectQuantity" class="qty-name">Quantity:</label>
          <select
            name="selectQuantity"
            id="selectQuantity"
            class="qty-input"
            #quantityValue
          >
            <option
              *ngFor="let option of options"
              [value]="option"
              [selected]="option === 1"
            >
              {{ option }}
            </option>
          </select>
        </div>

        <button
          class="btn btn-dark"
          type="submit"
          (click)="onAddToCart(+quantityValue.value)"
        >
          ADD TO CART
        </button>
      </div>
    </article>
  </section>
  <hr />
  <app-product-info-section [product]="currentItem"></app-product-info-section>
  <app-related-products></app-related-products>
</div>
