<section class="showcase">
  <p class="subtitle">CHECK OUT</p>
  <h3 class="title">YOUR FAVORITES</h3>
  <article class="products">
    <div class="product" *ngFor="let randomItem of randomItems">
      <div class="img-container">
        <img
          [src]="randomItem.imgPath"
          [alt]="randomItem.name"
          class="product-img"
          [routerLink]="[
            '/',
            'collections',
            randomItem.category,
            randomItem.name
          ]"
        />
        <span class="img-caption"> VIEW PRODUCT </span>
      </div>

      <p class="product-name">{{ randomItem.name }}</p>
      <h6 class="product-price">${{ randomItem.price }}</h6>
    </div>
  </article>
</section>
