.showcase {
  text-align: center;
  margin-top: 112px;
  margin-bottom: 112px;
}

.products {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product-name {
  font-size: 14px;
  margin: 0;
}

.product-price {
  font-size: 14px;
  font-weight: bold;
}

.product-img {
  margin-bottom: 40px;
}

.product-img:hover {
  opacity: 0.6;
  cursor: pointer;
}

.subtitle {
  margin: 0;
}

.title {
  margin-bottom: 4rem;
  font-size: 1.5rem;
}

.subtitle,
.title {
  letter-spacing: 2px;
  font-weight: bold;
}

.img-caption {
  position: relative;
}

.hover-text {
  display: none;
  position: absolute;
  width: 100%;
  padding: 10px;
  top: 40%;
  font-size: 1.5rem;
  font-weight: bold;
}

.img-caption:hover .hover-text {
  display: block;
}

.hover-text:hover {
  cursor: pointer;
  font-size: 2rem;
  text-shadow: 2px 2px 4px #000000;
  color: white;
}
