header {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 5;
}

nav {
  width: 100%;
}

.nav-link {
  color: black;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  margin-right: 45px;
}

.nav-link:hover {
  background-color: white;
}

.link-red {
  color: red;
}

.dropdown-menu {
  border-radius: 2px;
  border: none;
  background: rgba(255, 255, 255, 0.9);
}

.join-btn {
  display: flex;
  align-items: center;
  position: relative;
}

.glass {
  display: flex;
  align-items: center;
  margin-right: 25px;
  cursor: pointer;
}

.navbar-collapse {
  justify-content: center;
}

.right-nav {
  display: flex;
  align-items: center;
  position: absolute;
  right: 110px;
  z-index: 1;
}

.btn-text {
  margin-right: 20px;
}

.cart-qty {
  font-size: 0.5rem;
  position: absolute;
  right: 25px;
  bottom: 6px;
}

.second-digit {
  right: 20px;
}

.search-input {
  display: block;
  max-width: 0;
  transition: all 0.5s ease;
  opacity: 0;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}

.show-search-input {
  max-width: 150px;
  opacity: 1;
}

@media only screen and (max-width: 1530px) {
  .right-nav {
    flex-direction: column-reverse;
    margin-top: 30px;
  }

  .glass {
    align-self: flex-start;
  }
}

@media only screen and (max-width: 1250px) {
  .nav-link {
    margin-right: 15px;
  }
}

@media only screen and (max-width: 1130px) {
  .right-nav {
    right: 50px;
  }
}

@media only screen and (max-width: 992px) {
  .dropdown-nav {
    margin-top: 100px;
    width: 200px;
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 6px;
    padding: 1rem;
  }

  .right-nav {
    flex-direction: row;
    margin-top: 0;
  }

  .glass {
    align-self: center;
  }
}

@media only screen and (max-width: 465px) {
  .right-nav {
    flex-direction: column-reverse;
  }

  .glass {
    align-self: flex-start;
  }
}
