<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">OUT STORY</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              (click)="shopDropdown(dropdown)"
              #dropdown
            >
              SHOP
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">KITCHEN</a></li>
              <li><a class="dropdown-item" href="#">BEDROOM</a></li>
              <li><a class="dropdown-item" href="#">LIVINGROOM</a></li>
              <li><a class="dropdown-item" href="#">DININGROOM</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link">CONTACT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-red">SUMMER SALE</a>
          </li>
        </ul>
        <div class="right-nav" role="search">
          <div class="glass">
            <img src="./assets/images/magnyfing.svg" alt="Shopping cart" />
          </div>
          <button class="btn btn-dark join-btn">
            <span class="btn-text">JOIN</span>
            <img src="./assets/images/cart.svg" alt="Shopping cart" />
          </button>
        </div>
      </div>
    </div>
  </nav>
</header>
