<section class="collection-preview page-width-sm">
  <article class="left-collection collection-container">
    <img
      src="/assets/images/collection/1-tvstand.png"
      alt="Tv stand"
      class="hide-img-l"
    />
    <div class="left-collection__bottom collection-subcontainer">
      <img
        src="/assets/images/collection/2-coach.png"
        alt="Coach"
        class="hide-img-sm"
      />
      <div class="collection-description background-img couch">
        <h2 class="title">QUALITY</h2>
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod
          tempor incididunt ut li.
        </p>
        <button class="btn btn-dark" routerLink="/collections/beds">
          VIEW MORE
        </button>
      </div>
    </div>
  </article>
  <article class="right-collection collection-container">
    <div class="right-collection__upper collection-subcontainer">
      <div class="collection-description background-img plant">
        <h2 class="title">FOR KIDS</h2>
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore ut elit.
        </p>
        <button class="btn btn-dark" routerLink="/collections/kids">
          VIEW MORE
        </button>
      </div>
      <img
        src="/assets/images/collection/3-plant.png"
        alt="Plant pot"
        class="img hide-img-sm"
      />
    </div>

    <div class="right-collection__upper collection-subcontainer">
      <img
        src="/assets/images/collection/4-chairs.png"
        alt="Chair"
        class="img hide-img-sm"
      />

      <div class="collection-description background-img chairs">
        <h2 class="title">ANTIALLERGIC</h2>
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod
          tempor incididunt ut li.
        </p>
        <button class="btn btn-dark" routerLink="/collections/sheets">
          VIEW MORE
        </button>
      </div>
    </div>

    <img
      src="/assets/images/collection/5-sofachair.png"
      alt="Sofchair"
      class="hide-img-l"
    />
  </article>
</section>
