.collection-preview {
  display: flex;
  overflow: hidden;
}

.collection-subcontainer {
  display: flex;
}

.collection-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px;
}

.title {
  font-weight: bold;
}

.description {
  padding: 20px 0;
}
