<section class="collection-preview">
  <article class="left-collection collection-container">
    <img src="/assets/images/collection/1-tvstand.png" alt="" />
    <div class="left-collection__bottom collection-subcontainer">
      <img src="/assets/images/collection/2-coach.png" alt="" />
      <div class="collection-description">
        <h2 class="title">QUALITY</h2>
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod
          tempor incididunt ut li.
        </p>
        <button class="btn btn-dark" routerLink="/collections/beds">VIEW MORE</button>
      </div>
    </div>
  </article>
  <article class="right-collection collection-container">
    <div class="right-collection__upper collection-subcontainer">
      <div class="collection-description">
        <h2 class="title">FOR KIDS</h2>
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore ut elit.
        </p>
        <button class="btn btn-dark" routerLink="/collections/kids">VIEW MORE</button>
      </div>
      <img src="/assets/images/collection/3-plant.png" alt="" class="img" />
    </div>

    <div class="right-collection__upper collection-subcontainer">
      <img src="/assets/images/collection/4-chairs.png" alt="" class="img" />

      <div class="collection-description">
        <h2 class="title">ANTIALLERGIC</h2>
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod
          tempor incididunt ut li.
        </p>
        <button class="btn btn-dark" routerLink="/collections/sheets">VIEW MORE</button>
      </div>
    </div>

    <img src="/assets/images/collection/5-sofachair.png" alt="" />
  </article>
</section>
