<section class="product-info">
  <article class="titles">
    <h4
      class="section-name"
      (click)="onClick($event)"
      [ngClass]="{ active: currentSection === 'DESCRIPTION' }"
    >
      DESCRIPTION
    </h4>
    <h4
      class="section-name"
      (click)="onClick($event)"
      [ngClass]="{ active: currentSection === 'ADDITIONAL INFORMATION' }"
    >
      ADDITIONAL INFORMATION
    </h4>
    <h4
      class="section-name"
      (click)="onClick($event)"
      [ngClass]="{ active: currentSection === 'MATERIAL' }"
    >
      MATERIAL
    </h4>
  </article>
  <article class="text-section">
    <p class="text" *ngIf="currentSection === 'DESCRIPTION'">
      <b> PRODUCT DESCRIPTION </b>
      <br />
      {{ product?.description || defaultText }}
    </p>
    <p class="text" *ngIf="currentSection === 'ADDITIONAL INFORMATION'">
      <b> ADDITIONAL INFORMATION </b>
      <br />
      {{ product?.['additional-information'] || defaultText }}
    </p>
    <p class="text" *ngIf="currentSection === 'MATERIAL'">
      <b> MATERIAL </b>
      <br />
      {{ product?.material || defaultText }}
    </p>
  </article>
</section>
