<app-page-header></app-page-header>
<section class="our-story">
  <article class="story-container">
    <div class="story-div">
      <h4 class="subtitle">Journey</h4>
      <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia sequi
        praesentium nobis dicta quam ab sed est ipsum eligendi ad, voluptate
        deleniti id? Sunt soluta iste eligendi aliquam voluptatem quos. Ab nemo,
        omnis porro accusamus necessitatibus, nesciunt quidem dolore facere
        fugit maxime quas deserunt, blanditiis inventore molestias voluptas
        eligendi magni recusandae quisquam cupiditate ipsum illo quasi at
        expedita. Officiis, tempora? Nobis voluptates enim cum et veniam
        reiciendis quasi a autem saepe, corrupti vel delectus laboriosam quia ea
        corporis aspernatur incidunt qui accusamus laborum. Accusantium sunt
        quia explicabo enim debitis totam!
      </p>
    </div>
    <div class="story-div">
      <h4 class="subtitle">Values</h4>
      <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia sequi
        praesentium nobis dicta quam ab sed est ipsum eligendi ad, voluptate
        deleniti id? Sunt soluta iste eligendi aliquam voluptatem quos. Ab nemo,
        omnis porro accusamus necessitatibus, nesciunt quidem dolore facere
        fugit maxime quas deserunt, blanditiis inventore molestias voluptas
        eligendi magni recusandae quisquam cupiditate ipsum illo quasi at
        expedita. Officiis, tempora? Nobis voluptates enim cum et veniam
        reiciendis quasi a autem saepe, corrupti vel delectus laboriosam quia ea
        corporis aspernatur incidunt qui accusamus laborum. Accusantium sunt
        quia explicabo enim debitis totam!
      </p>
    </div>
    <div class="story-div">
      <h4 class="subtitle">Mission</h4>
      <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia sequi
        praesentium nobis dicta quam ab sed est ipsum eligendi ad, voluptate
        deleniti id? Sunt soluta iste eligendi aliquam voluptatem quos. Ab nemo,
        omnis porro accusamus necessitatibus, nesciunt quidem dolore facere
        fugit maxime quas deserunt, blanditiis inventore molestias voluptas
        eligendi magni recusandae quisquam cupiditate ipsum illo quasi at
        expedita. Officiis, tempora? Nobis voluptates enim cum et veniam
        reiciendis quasi a autem saepe, corrupti vel delectus laboriosam quia ea
        corporis aspernatur incidunt qui accusamus laborum. Accusantium sunt
        quia explicabo enim debitis totam!
      </p>
    </div>
  </article>
</section>
