/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: auto !important;
}

/* STYLES FOR IMAGE CAPTION HOVERING EFFECT */
.img-container {
  position: relative;
  text-align: center;
}

.img-caption {
  position: absolute;
  left: 0;
  right: 0;
  top: 45%;
  display: none;
  color: black;
  font-weight: bold;
  font-size: 1.3rem;
}

.img-container:hover {
  opacity: 0.7;
  cursor: pointer;
}

.img-container:hover > .img-caption {
  display: block;
}

.product-img {
  width: 100%;
  height: auto;
}

/* STYLES FOR BUTTON */
.btn {
  padding: 8px 32px;
  border-radius: 0;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 14px;
}

/* STYLES FOR DISCOUNT PERCENTAGE */
.old-price {
  font-size: 14px;
  font-weight: normal;
  text-decoration: line-through;
  margin-right: 8px;
}

.product-sales-price {
  font-size: 14px;
  font-weight: bold;
  color: #c60134;
}

.price-container {
  display: flex;
  justify-content: center;
}

/* STYLES FOR MAX PAGE WIDTH */
.page-width-sm {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

.page-width-l {
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
}
@import '~mdb-angular-ui-kit/assets/scss/mdb.scss';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
 
@import '~mdb-angular-ui-kit/assets/scss/mdb.scss';
