/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Poppins", sans-serif;
}

/* STYLES FOR IMAGE CAPTION HOVERING EFFECT */
.img-container {
  position: relative;
  text-align: center;
}

.img-caption {
  position: absolute;
  left: 0;
  right: 0;
  top: 45%;
  display: none;
  color: black;
  font-weight: bold;
  font-size: 1.3rem;
}

.img-container:hover {
  opacity: 0.7;
  cursor: pointer;
}

.img-container:hover > .img-caption {
  display: block;
}

.product-img {
  width: 100%;
  height: auto;
}

/* STYLES FOR BUTTON */
.btn {
  padding: 8px 32px !important;
  border-radius: 0 !important;
  letter-spacing: 1px !important;
  font-weight: bold !important;
}
