<div class="modal-background" (click)="closeModal()"></div>
<section class="addToCart-modal">
  <article class="modal-window">
    <div class="left-side">
      <img [src]="currentItem.imgPath" alt="" class="product-img" />
      <div class="product-info">
        <h4 class="product-name">{{ currentItem.name }}</h4>
        <p class="product-price">
          ${{ currentItem.salePrice || currentItem.price }}
        </p>
        <p class="product-qty">Qty: {{ quantity }}</p>
      </div>
    </div>
    <div class="right-side">
      <p class="cart-info-text">
        You have {{ cartQuantity$ | async }} product in your cart.
      </p>
      <hr />
      <div class="price-info">
        <span class="name">Price:</span>
        <span class="product-price price"
          >${{ (currentItem.salePrice || currentItem.price) * quantity }}</span
        >
      </div>
      <div class="delivery-info">
        <span class="name">Delivery:</span>
        <span class="delivery-price price">$30</span>
      </div>
      <div class="savings-info" *ngIf="currentItem.salePrice">
        <span class="name">Savings:</span>
        <span class="savings price"
          >-${{ (currentItem.price - currentItem.salePrice) * quantity }}</span
        >
      </div>
      <hr />
      <div class="total-price-info">
        <span class="name">Total:</span>
        <span class="total-price price"
          >${{
            (currentItem.salePrice || currentItem.price) * quantity + 30
          }}</span
        >
      </div>
      <div class="btn-group">
        <button
          class="btn btn-dark"
          (click)="closeModal()"
          routerLink="/collections/cart"
        >
          BUY
        </button>
        <button class="btn btn-white" (click)="closeModal()">
          BACK TO SHOP
        </button>
      </div>
    </div>
  </article>
</section>
